@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

htm {
  background: #f5f5f5;
}
body {
  color: rgb(var(--foreground-rgb));
  background: #f5f5f5;
}

* {
  font-family: "Montserrat", sans-serif !important;
  box-sizing: border-box;
}

:where(.css-dev-only-do-not-override-gzal6t).ant-select-single:not(.ant-select-customize-input) .ant-select-selector {
  padding: 1rem;
}

.ReviewAndPayButton:hover .ReviewAndPayButtonIcon {
  transform: rotate(-45deg) scale(1.25);
  margin-left: 10px;
}

.loginPage :where(.css-dev-only-do-not-override-gzal6t).ant-btn-default:not(:disabled):not(.ant-btn-disabled):hover {
  color: #ffffff !important;
  border: none !important;
}

:where(.css-dev-only-do-not-override-gzal6t).ant-btn-primary {
  color: #fff !important;
  background: #1677ff !important;
  box-shadow: 0 2px 0 rgb(5 145 255 / 10%) !important;
}

:where(.css-dev-only-do-not-override-gzal6t).ant-spin-nested-loading .ant-spin-container {
  overflow-x: auto;
}

:where(.css-dev-only-do-not-override-gzal6t).ant-layout .ant-layout-sider {
  min-height: 100vh;
}