.HomeMainSection {
    height: 95vh;
    width: 100vw;
    min-width: 100vw;
    max-width: 100vw;
    background-image: url('/man-talking-mobile-phone-while-using-laptop-living-room.jpg');
    background-size: cover;
}
.HomeSecondSection {
    height: 95vh;
    width: 100vw;
    min-width: 100vw;
    max-width: 100vw;
}

.regionalCard {
    background-color: transparent;
    transition: all 1s;
    position: relative;
}

.regionalCard::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-image: linear-gradient(to bottom, #c50000, #6a0002);
    opacity: 0;
    transition: all .5s;
    z-index: -1000;
    border-radius: 1.5rem;
    }

.regionalCard:hover, .regionalCard:hover::after {
    transform: scale(1.05);
    opacity: 1;
    border-radius: 1rem;
    border-top-right-radius: 48px;
}

.allRegionalCard:hover .regionalCard:not(:hover) {
    transform: scale(0.9);
}
.regionalCard, .regionalCard p {
    transition: all .75s;
    cursor: pointer;
}
.regionalCard:hover p{
    color: white;
} 
.gradientText {
    background: -webkit-linear-gradient(45deg,#6A0001, #C50001);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

@media (min-width: 0px) and (max-width: 1024px) {
    .HomeMainSection {
        padding-block: 1rem;
        padding-inline: 1rem;
    }
    .HomeSecondSection {
        height: fit-content !important;
        padding-block: 1rem;
        padding-inline: 1rem;
    }
}