.loginPage{
    height: 90vh;
    background-image: url('/assets-evernet-network@2x.png');
    background-size: cover;
}



:where(.css-dev-only-do-not-override-gzal6t).ant-switch.ant-switch-checked {
  background: rgb(197 0 1 / var(--tw-bg-opacity))
}

:where(.css-dev-only-do-not-override-gzal6t).ant-switch.ant-switch-checked:hover:not(.ant-switch-disabled) {
    background: #c50000d1;
}
